<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="/styles.css">


    <script>
    function validateForm(event, formId) {
        const form = document.getElementById(formId);
        const username = form.querySelector("#username").value;
        const password = form.querySelector("#password").value;

        if (username.trim() === "" || password.trim() === "") {
            event.preventDefault();
            alert("Veuillez remplir tous les champs.");
        }
    }
    </script>

</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            {% if not session.user_id %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% else %}
                <a href="/events">My Events</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
