{% extends "layout.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Inscription</h1>
    <form action="/register" method="POST" class="retro-form">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="retro-button">S'inscrire</button>
    </form>
</div>
{% endblock %}
